In [4]:
import sys

# Add a path to sys.path
sys.path.append('../datasets')
from data_structure import data_strcture
#_, user_df, pool_df = data_strcture()

In [5]:
from model import clf, clf_Airbnb
import pandas as pd
import numpy as np

In [ ]:
mylist = list(set(df_flight['flyFrom']))
mylist

In [13]:
from main import main
Reco_1, Reco_2, Reco_3,UserId , City, Category, Price_flight,Price_Air,Beds_air,People_air,Reviews_air, Category_place,Time_place, time, pool_df, user_df = main(0,'Olbia')

Flights Reco....
Airbnb Reco....
Places Reco....

In [8]:
user_df = pd.read_csv('../datasets/data_files/user_df.csv')

user_df

,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,PriceLvl_7,PriceLvl_8,PriceLvl_9,PriceLvl_10,...,Santander,Santiago de Compostela,Seville,Tenerife,Valencia,Valladolid,Valverde,Vigo,Vitoria-Gasteiz,Zaragoza
0,0,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
pool_df

,inptCity,inptTime,inptCat,inptPrice,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,...,place_cultural,place_nature,place_beach,place_historical,inptPriceAir,inptBedsAir,inptPeopleAir,inptReviewsAir,inptPlaceCat,inptPlaceTime
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Málaga,2023-02-28 16:30:00,Beach,240,0,0,0,0,0,0,...,0,0,0,0,43.0,1.0,1.0,775.0,Beach,Afternoon
2,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
3,Málaga,2023-02-28 16:30:00,Beach,240,0,0,2,0,0,0,...,0,0,0,0,43.0,1.0,1.0,775.0,Cultural,Afternoon
4,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,3,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Adventurous,Morning
5,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
6,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,0,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
7,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,-1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning

In [14]:
from main import record
record(UserId , City, Category, Price_flight,Price_Air,Beds_air,People_air,Reviews_air, Category_place,Time_place, time, user_df, pool_df, 1)