In [1]:
import sys

# Add a path to sys.path
sys.path.append('../datasets')

In [2]:
from flights import  flights_reco
from userdata import users
from data_structure import data_strcture
from Ranges import Ranges
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

KeyboardInterrupt:

In [3]:
_, user_df, pool_df = data_strcture()
user_df

,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,PriceLvl_7,PriceLvl_8,PriceLvl_9,PriceLvl_10,...,Santander,Santiago de Compostela,Seville,Tenerife,Valencia,Valladolid,Valverde,Vigo,Vitoria-Gasteiz,Zaragoza
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#titles,indices, cosine_sim, df = model_computations()
titles = pd.read_csv('../datasets/data_files/titles.csv')
df = pd.read_csv('../datasets/data_files/df.csv')
df2 = df.reset_index()
titles = pd.Series(df2['Description'])
indices = pd.Series(df2.index, index = df2['Description'])
cosine_sim = np.load('../datasets/data_files/cosine_sim.npy')

In [5]:
flights_reco('TIA','ALC','ALC',titles,indices, cosine_sim,df)

,flyFrom,flyTo,price,cityFrom,cityTo,countryFrom,distance,duration,local_departure,category,Description
0,TIA,AGP,212,Tirana,Málaga,Albania,2151.60,142500,2023-02-28 17:15:00,Beach,coastal city southern coast spain known medite...
1,TIA,AGP,253,Tirana,Málaga,Albania,2151.60,118800,2023-02-28 12:20:00,Beach,coastal city southern coast spain known medite...
2,TIA,AGP,265,Tirana,Málaga,Albania,2151.60,155100,2023-02-28 20:55:00,Beach,coastal city southern coast spain known medite...
3,TIA,AGP,266,Tirana,Málaga,Albania,2151.60,215700,2023-02-28 20:55:00,Beach,coastal city southern coast spain known medite...
4,TIA,AGP,280,Tirana,Málaga,Albania,2151.60,136200,2023-02-28 19:00:00,Beach,coastal city southern coast spain known medite...
...,...,...,...,...,...,...,...,...,...,...,...
711,TIA,MLN,978,Tirana,Melilla,Albania,2086.93,66300,2023-02-28 20:00:00,Historical,spanish enclave northern coast africa melilla ...
712,TIA,MLN,992,Tirana,Melilla,Albania,2086.93,62100,2023-02-28 16:00:00,Historical,spanish enclave northern coast africa melilla ...
713,TIA,MLN,1220,Tirana,Melilla,Albania,2086.93,63000,2023-02-28 20:55:00,Historical,spanish enclave northern coast africa melilla ...
714,TIA,MLN,2141,Tirana,Melilla,Albania,2086.93,65400,2023-02-28 15:45:00,Historical,spanish enclave northern coast africa melilla ...
715,TIA,MLN,2183,Tirana,Melilla,Albania,2086.93,63000,2023-02-28 15:45:00,Historical,spanish enclave northern coast africa melilla ...

In [6]:
_, user_df, pool_df = data_strcture()

In [7]:
user_df

,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,PriceLvl_7,PriceLvl_8,PriceLvl_9,PriceLvl_10,...,Santander,Santiago de Compostela,Seville,Tenerife,Valencia,Valladolid,Valverde,Vigo,Vitoria-Gasteiz,Zaragoza
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
def Flights_Reco(location, previous,best):
        
    recos = flights_reco(location,previous,best,titles,indices, cosine_sim,df)
    return recos.head(50)

In [9]:
price_ranges, time_cols_dict, cities_dict = Ranges()

In [26]:
previous = 'ALC'

for i in range(2):
    location = input()

    city_names = list(set(df['cityTo'])) # Replace with your desired cities
    city_counts = user_df.filter(items=city_names).sum().sort_values(ascending=False)

    highest_city = city_counts.index[0]
    second_highest_city = city_counts.index[1]
    third_highest_city = city_counts.index[2]

    price_max_col = user_df.filter(like='PriceLvl_').idxmax(axis=1)
    activity_max_col = user_df.filter(['Beach', 'Nature', 'Cultural', 'Historical', 'Adventurous']).idxmax(axis=1)
    time_max_col = user_df.filter(['EarlyMorning', 'Morning', 'Noon', 'Afternoon', 'Evening', 'Night']).idxmax(axis=1)
    
    if i != 3:
        reco = Flights_Reco(location,previous,cities_dict[highest_city])
    elif i == 6:
        reco = Flights_Reco(location,previous,cities_dict[third_highest_city])
    else:
        reco = Flights_Reco(location,previous,cities_dict[second_highest_city])
    reco['local_departure'] = pd.to_datetime(reco['local_departure'])

    reco_filtered = reco[(reco['price'] >= price_ranges[str(price_max_col[0])][0]) & (reco['price'] <= price_ranges[str(price_max_col[0])][1])]
    reco_filtered2 = reco_filtered[(reco_filtered['local_departure'].dt.hour >= time_cols_dict[str(time_max_col[0])][0]) & (reco_filtered['local_departure'].dt.hour <= time_cols_dict[str(time_max_col[0])][1])]
    reco_filtered3 = reco_filtered2[reco_filtered2['category']== str(activity_max_col[0])]

    reco_others = reco[(reco['price'] < price_ranges[str(price_max_col[0])][0]) | (reco['price'] > price_ranges[str(price_max_col[0])][1])]
    reco_others2 = reco_filtered[(reco_filtered['local_departure'].dt.hour < time_cols_dict[str(time_max_col[0])][0]) | (reco_filtered['local_departure'].dt.hour > time_cols_dict[str(time_max_col[0])][1])]
    reco_others3 = reco_filtered2[reco_filtered2['category']!= str(activity_max_col[0])]

    reco_final = pd.concat([reco_filtered,reco_filtered2,reco_filtered3, reco_others,reco_others2,reco_others3])
    reco_final = reco_final.drop_duplicates(keep='first')

    previous = reco_final['flyTo'].iloc[0]

    #print(reco_final.head(1))
    print(reco_final.head(1))
    print("Do you like this offer: (yes:1, no:0)")
    indicator = input()
    
    
    pool_df, user_df = users(0 ,df, user_df, pool_df, reco_final['cityTo'].iloc[0], reco_final['category'].iloc[0], reco_final['price'].iloc[0], str(reco_final['local_departure'].iloc[0]), indicator)

      flyFrom flyTo  price cityFrom  cityTo countryFrom  distance  duration  \
15131     INI   BIO    255      Niš  Bilbao      Serbia   1998.19    160800

          local_departure  category  \
15131 2023-02-28 18:45:00  Cultural

                                             Description
15131  city basque country northern spain known stunn...
Do you like this offer: (yes:1, no:0)
      flyFrom flyTo  price cityFrom     cityTo countryFrom  distance  \
15159     INI   BCN    222      Niš  Barcelona      Serbia   1639.55

       duration     local_departure  category  \
15159     66000 2023-02-28 18:45:00  Cultural

                                             Description
15159  vibrant city northeastern coast spain known st...
Do you like this offer: (yes:1, no:0)

In [32]:
user_df['UserId']

0            0
1            1
2            2
3            3
4            4
         ...
99995    99995
99996    99996
99997    99997
99998    99998
99999    99999
Name: UserId, Length: 100000, dtype: int64